<div class="input-group mb-3">
  <input type="text" data-provide="typeahead" placeholder="Curso" data-source='["Argentina"]' data-items="4">
   <div class="input-group-append">
    <button class="btn btn-primary btn-block" type="button">Buscar</button>
   </div>
</div>


