<div class="input-group mb-3">
  <input id="input-busqueda-persona" type="text" data-provide="typeahead" placeholder="Persona" name="buscador" onkeyup="encontrarPersona(<%= cursoId %>)">
</div>


<h2>Resultados de Busqueda: </h2>

<div id="resultadoPersonas" class="container"></div>

<br><br><br><br><br><br>
