

<h2 class="alert-heading"> Inscripcion de Alumnos a <b><%= curso.nombre%></b> </h2>

<br>

<div class="alert alert-dark" role="alert" style="background-color: #ffffff">
  <h4 class="alert-heading"> Busqueda de Alumnos </h4>
  <div class="input-group mb-3">
    <label>Buscar persona:
      <input id="input-busqueda-persona" type="text" data-provide="typeahead" placeholder="Persona" name="buscador" onkeyup="encontrarPersona(<%= curso.id %>)">
    </label>
  </div>
  <div id="resultadoPersonas" class="container"></div>
</div>


<%- partial ('partials/deckPersonas.ejs', {listaInscripciones: inscriptos, titulo: "Inscriptos"
  , mensajeVacio1: "Uff no hay personas inscriptas a este curso, utiliza el buscador de personas (arriba) para agregar alumnos."
  , mensajeVacio2: "En cuanto agregues alumnos, aqui aparecera una lista de inscriptos"}) %>
<%- partial ('partials/deckPersonas.ejs', {listaInscripciones: enespera, titulo: "Lista de Espera"
  , mensajeVacio1: "No hay alumnos en la lista de espera."
  , mensajeVacio2: "En cuanto los inscriptos superen el cupo de " + curso.cupo + " la lista de espera comenzara a llenarse."}) %>



<!-- Modal -->
<div class="modal fade" id="removeStudentModal" tabindex="-1" role="dialog" aria-labelledby="removeStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">Atencion: Dar de baja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="alumno" id="alumno">Alumnno: </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="botonRemover" type="button" class="btn-danger btn">Remover</button>
      </div>
    </div>
  </div>
</div>


