

<div class="alert alert-dark" role="alert" style="background-color: #ffffff">
  <h3 class="alert-heading"> Busqueda de Cursos </h3>
  <div class="input-group mb-3">
    <label>Buscar curso:
      <input id="input-busqueda-persona" type="text" data-provide="typeahead" placeholder="Curso" name="buscador" onkeyup="buscarCurso()">
    </label>
  </div>
  <div id="resultadoCursos" class="container"></div>
</div>



<div id="tabla-container">


</div>



