<h1>Cursos</h1>

<table id="cursos" class="table table table-hover" style="width: 50%; margin:auto;">
  <thread class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Info</th>
      <th>Nueva clase</th>
    </tr>
  </thread>

  <tbody id="table">
  <% for(var i = 0; i < docencia.length ; i++){ %>
  <tr>
    <td><%= docencia[i].nombreDelCurso %></td>
    <td>
      <a href="/asistencia/verAsistencia/<%= docencia[i].id %>" class="btn-outline-info btn">
        <i class="fas fa-eye"></i>
      </a>
    </td>
    <td>
      <a href="/asistencia/lista/<%= docencia[i].id %>" class="btn-outline-primary btn">
        <i class="fas fa-plus"></i>
      </a>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
