<h1>Cursos</h1>


  <div class = container-fluid>
    <div class="card card-login mx-auto mt-5">Seleccione materia</div>
    <div class = "row">
      <div class = "col-lg-1">
        Materia.
      </div>
      <div class="col-md-auto">
        <input class="btn btn-primary" value="Select">
      </div>
    </div>
    </div>

<table id="cursos" class="table table-striped table-hover" style="width: 50%; margin:auto;">
  <thread>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Info</th>
      <th>Nueva clase</th>
    </tr>
  </thread>

  <tbody id="tab">
   <!-- TODO: ver de donde salen los cursos -->
  </tbody>
</table>
