<header class = "masterhead">

  <div class = container-fluid>
    <div class="card card-login mx-auto mt-5">Seleccione materia</div>
    <div class = "row">
      <div class = "col-lg-1">
        Materia.
      </div>
      <div class="col-md-auto">
        <input class="btn btn-primary" value="Select">
      </div>
    </div>
    </div>
<!-- -->
