<header class="masterhead">

  <div class="container-fluid">
    <div class="col-md-2">
      -Numero alumno-
    </div>
    <div class="col-md-8">
      -Alumno-
      </div>
    <div class="col-md-2">
      checkbox
    </div>
  </div>
