<h1>Listado de alumnos</h1>
<h3>Toma de asistencia</h3>

<table id="alumno" class="table table-striped table-hover" style="width: 50%; margin:auto;">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Asistencia</th>
  </tr>
  </thead>
  <tbody id="table">
  <% for(var i=0; i<pers.length; i++){ %>
  <tr>
    <td><%= pers[i].nombre %></td>
    <td><%= pers[i].apellido %></td>
    <td>
        <input onclick="" type="checkbox">

    </td>
  </tr>
  <% } %>
  </tbody>
    <a href="/asistencia/curso" class="btn btn-outline-success btn-lg" >
      <i class="fas fa-check"></i>
    </a>

</table>
