<div class="container">
  <form method="post" action="/addBautismo" >
    <div class="form-group">
      <label for="inputmadrina">Madrina</label>
      <input name="madrina" class="form-control" id="inputmadrina" type="text" placeholder="Busqueda de madrina">
    </div>
    <div class="form-group">
      <label for="inputpadrino">Padrino</label>
      <input name="padrino" class="form-control" id="inputpadrino" type="text" placeholder="Busqueda de padrino">
    </div>
    <div class="form-group">
      <label for="inputnombre">Nombre</label>
      <input name="nombre" class="form-control" id="inputnombre" type="text" placeholder="Nombre del niño">
    </div>
    <div class="form-group">
      <label for="inputdni">DNI</label>
      <input name="dni" class="form-control" id="inputdni" type="text" placeholder="DNI del niño">
    </div>
    <div class="form-group">
      <label for="inputfecha">Fecha</label>
      <input name="fecha" class="form-control" id="inputfecha" type="text" placeholder="Fecha del bautismo">
    </div>
    <div class="form-group">
      <label for="inputturno">Turno</label>
      <input name="turno" class="form-control" id="inputturno" type="text" placeholder="Turno del bautismo">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Agregar">
  </form>
</div>
